
<div id="form">
<mat-tab-group>

  <!-- LOGIN PAGR TAB -->
  <mat-tab label="LOGIN">
    <form [formGroup]="LoginData" >
      <div>
        <label> User Name : </label>
        <input matInput type="text" formControlName="UserName" placeholder="Enter User Name">
      </div>

      <div>
        <label>Passeord :</label> &nbsp;&nbsp;&nbsp;&nbsp;
        <input matInput type="password" formControlName="Password" placeholder="Enter Password">
      </div>

      <div>
        <button style="margin-left: 200px;" mat-raised-button color="primary" (click)="login()">Login</button>
      </div>


    </form>
  </mat-tab>

  <!-- RESGISER PAGE TAB -->
  <mat-tab label="REGISTER">
    <form [formGroup]="RegisterData">

        <div>
        <mat-label>Name :</mat-label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input matInput type="text" formControlName="UserName" placeholder="Ex : ravi1587">
      </div>

      <div>
        <mat-label>Email :</mat-label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input matInput type="email" formControlName="Email" placeholder="ravi1587@gmail.com">
      </div>

      <div>
        <mat-label>Camu Pin :</mat-label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input matInput type="text" formControlName="CamuPin" placeholder="XXXXX457">
      </div>
      <div>
        <mat-label>Password :</mat-label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input matInput type="password" formControlName="Password">
      </div>
      <div>
        <mat-label>Conform Password :</mat-label>
        <input matInput type="password" formControlName="ConformPassword">
      </div>

      <div>
      <mat-label>REGISTER AS :</mat-label>
    </div>

      <div>
        <mat-radio-group>
          <mat-radio-button style="color : white;" *ngFor="let x of register" [value]="x"> {{x}}  </mat-radio-button>
        </mat-radio-group>

      </div>

      <div>
          <mat-checkbox style="color : white;" [checked]="terms">I accept Terms and Conditions</mat-checkbox>

        </div>

        <div id="button">
        <button style="margin-left: 200px;" mat-raised-button color="primary" (click)="reg()">Sign Up</button>
      </div>
    </form>
  </mat-tab>

  <!-- APPLICATION PAGE TAB -->
  <mat-tab label="APPLICATION">

    <form [formGroup]="ApplicationData">
      <div>
        <mat-label>Institute Code :</mat-label>
        <input matInput type="text" formControlName="InstituteCode" placeholder="Ex : XXXXXXXX4551">
      </div>
      <div>
        <mat-label>Email :</mat-label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input matInput type="email" formControlName="Email" placeholder="ravi1587@xxx.edu.in">
      </div>
      <div id="button">
        <button style="margin-left: 200px;" mat-raised-button color="primary" (click)="application()">REGISTER</button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
</div>
