#form{
  margin-left : 500px;
  width : 500px;
  height : 700px;
  background-color:  black;

  label{
    color : white;
  }

  form{
    margin-top: 50px;;
  }
  div{
    margin-left:100px;
    padding-top: 20px;
  }

  input{
    margin-left: 50px;
  }
  #button{
    margin-top: 50px;

  }

  mat-label{
    color : white;
  }

  mat-checkbox{
    color : white;
  }

}
